body {
  background-color: #b3e5fc;
  font-family: "Cormorant Garamond", serif;
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 30px;
  text-align: center;
}

.input-field label {
   color: rgba(0,0,0,)
 }
 .input-field input[type=text]:focus {
      color: rgba(0,0,0,)
      border-bottom: 1px solid #000;
      box-shadow: 0 1px 0 0 #000;
}
h6 {
  font-size: 20px
}

.dwnload {
  text-align: center;
}
