@font-face {
    /*src: url('/lib/Roboto');*/
}

.root {
	-fx-font-family: Roboto;
	-fx-background-color: #4FC3F7
}

.button {
	-fx-font-size: 20pt;
	-fx-text-fill: white;
	-fx-background-color: blue;
	-fx-background-radius: 2px;
}

.button:hover {
	-fx-background-color: darkblue;
	-fx-cursor: hand;
}

.button:pressed {
	-fx-background-color: black;
	-fx-cursor: hand;
}

.menu-bar {
	-fx-background-color: #B3E5FC;
	/*-fx-font-weight: bold;*/
}

.menu {
	
}